[tools]
bun = "latest"
direnv = "2.37.1"
gh = "latest"
node = "lts"
"npm:@mermaid-js/mermaid-cli" = "latest"
python = "3.13"
ruby = "4.0.7"
usage = "latest"
{{- if eq .chezmoi.os "linux" }}
biome = "latest"
hadolint = "latest"
pnpm = "latest"
ruff = "latest"
uv = "latest"
"gem:rubocop" = "latest"
"npm:htmlhint" = "latest"
"npm:markdownlint-cli2" = "latest"
"npm:stylelint" = "latest"
"npm:typescript" = "latest"
"pipx:mypy" = "latest"
"pipx:sqlfluff" = "latest"
"pipx:yamllint" = "latest"
{{- if eq .chezmoi.hostname "browserino" }}
"pipx:pyprland" = "latest"
"pipx:terminaltexteffects" = "latest"
{{- end }}
{{- end }}
